.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  justify-items: center;
}

.reactions {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.wordOfInterest {
  grid-column: 2;
  grid-row: 1;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}
