.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  max-height: 100vh;
}

.reactions {
  grid-column: 1;
  grid-row: 1;
}

.test {
  grid-column: 2;
  grid-row: 1;
}

.parent {
  position: relative;
}
